.start_page  .navigate_site_start  {
bottom:136px;
right:353px;
}
.start_page  .navigate_block_start .block-1 .name {
bottom:82px;
left:82px;
}
.start_page  .navigate_block_start .block-1  img {
top:23px;
left:23px;
}
.start_page  .navigate_block_start .block-2 .name {
bottom:51px;
left:46px;
}
.start_page  .navigate_block_start .block-2  img {
top:22px;
left:21px;
}
.start_page  .navigate_block_start .block-3 .name {
bottom:62px;
left:46px;
}
.start_page  .navigate_block_start .block-3  img {
top:51px;
left:45px;
}
.start_page  .navigate_block_start .block-4 .name {
bottom:66px;
left:24px;
}
.start_page  .navigate_block_start .block-4  img {
top:24px;
left:27px;
}
.start_page  .auth_block_start .cont {
padding:127px 0 0 22px;
}
.start_page  .search_block {
margin:3px 0 0 -6px;
}
.start_page  .search_block .sub {
top:30px;
}
.start_page  .services_block_start ul {
padding:39px 20px 20px 110px;
}
.start_page  .navigate_site_start .text {
position:absolute;
left:7px;
top:8px;
}
.start_page  .tel_block_start .tel {
padding:92px 0 20px 16px;
}
.start_page  .tel_block_start p {
margin:0 0 1px 30px;
}
.start_page  .tel_block_start p .icon {
top:47px;
margin: 0 -27px 0 8px;
}
.start_page  .tel_block_start   p .icon-2 {
margin: 0 -29px 0 11px;
}
.start_page  .tel_block_start   p .icon-3  {
margin: 0 -29px 0 11px;
}