#
# Этот каталог как таковой НЕ надо закрывать от внешнего доступа.
# Он тут чтобы организовать разные режимы доступа к разным подпапкам,
# потому как внутри .htaccess (в корне сайта) всякие <location/directory>
# поместить нельзя (только <files>, но они бесполезны).
#
# Напрямую к этому каталогу запросы никогда не приходят, разве что
# если юзер-хацкер введёт его вручную. Тут уж ничего не поделаешь.
# Это безопасно. Хотя паранойи ради можно сделать имя более сложным.
#
# В каталог admin  поступают все запросы в админку, и он закрыт .htpasswd'ом.
# В каталог common поступают все прочие запросы, и он полностью открыт.
# См. ".htaccess" в корневом каталоге о том, как и что сюда направляется.
#
