#
# Ётот каталог должен быть целиком и полностью закрыт от доступа!
# ѕричЄм независимо от того, админский ли это доступ или юзерский.
# ѕотому что тут хран€тс€ только отдельные куски и части сайта,
# и пр€мой доступ к ним -- больша€ дыра в безопасности.
#
Order Allow,Deny
Deny from all
